{% extends "core/base.html" %}
{% block title %} About | {% endblock%}

{% block content %}
<h1 class="title">About Blog</h1>
<p class="subtitle is-5">This blog is a test case for my Github portfolio with basic functionality where users can read, add comments, and make a search. 
    Sooner or Later,More features would be added. </p>
    <p class="subtitle is-4">Would like to hear from you, Please make comments/review in the blog post.</p>
    
    <hr>
    <strong>Best Regards, </strong>
        <h3><a href="https://twitter.com/seyiadel">Oluwaloseyi Adeleye</a></h3>
   

{% endblock %}